{% extends 'admin/base.html.twig' %}
{% block title %}Modifier filière - {{ filiere.nom }}{% endblock %}
{% block page_header %}
    <h1 class="h3 mb-3">Modifier : <strong>{{ filiere.nom }}</strong></h1>
{% endblock %}
{% block body %}
<div class="card">
    <div class="card-header"><h5 class="card-title mb-0">Modifier la filière</h5></div>
    <div class="card-body">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6 mb-3">{{ form_row(form.nom) }}</div>
            <div class="col-md-6 mb-3">{{ form_row(form.etablissement) }}</div>
            <div class="col-md-6 mb-3">{{ form_row(form.niveau_requis) }}</div>
            <div class="col-md-6 mb-3">{{ form_row(form.debouche) }}</div>
            <div class="col-12 mb-3">{{ form_row(form.description) }}</div>
            <div class="col-12 mb-3">{{ form_row(form.imageFile) }}</div>

        </div>
        <div class="d-flex gap-2">
            <button type="submit" class="btn btn-warning">Mettre à jour</button>
            <a href="{{ path('admin_filiere_index') }}" class="btn btn-secondary">Annuler</a>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
