{% extends 'admin/base.html.twig' %}
{% block title %}Modifier - {{ etablissement.nom }}{% endblock %}
{% block page_header %}<h1 class="h3 mb-3">Modifier : <strong>{{ etablissement.nom }}</strong></h1>{% endblock %}
{% block body %}
<div class="card"><div class="card-header"><h5 class="card-title mb-0">Modifier l'établissement</h5></div>
<div class="card-body">
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6 mb-3">{{ form_row(form.nom) }}</div>
        <div class="col-md-6 mb-3">{{ form_row(form.ville) }}</div>
        <div class="col-12 mb-3">{{ form_row(form.adresse) }}</div>
        <div class="col-12 mb-3">{{ form_row(form.imageFile) }}</div>

    </div>
    <div class="d-flex gap-2">
        <button type="submit" class="btn btn-warning">Mettre à jour</button>
        <a href="{{ path('admin_etablissement_index') }}" class="btn btn-secondary">Annuler</a>
    </div>
    {{ form_end(form) }}
</div></div>
{% endblock %}
