{%  extends 'admin/base.html.twig' %}
{% block title %}Détail Test{% endblock %}
{% block body %}
<div class="container-fluid p-0">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h3">📋 Détail Test</h1>
        <div>
<a href="{{ path('admin_test_edit', {'id': item.id}) }}" class="btn btn-warning">✏️ Modifier</a>
                  <a href="{{ path('admin_test_index') }}" class="btn btn-secondary">← Retour</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">ID</dt>
                <dd class="col-sm-8">{{ item.id }}</dd>
                        <dt class="col-sm-4">Titre</dt>
                            <dd class="col-sm-8">{{ item.titre }}</dd>

                        <dt class="col-sm-4">Description</dt>
                            <dd class="col-sm-8">{{ item.description }}</dd>

                        <dt class="col-sm-4">Date</dt>
                        <dd class="col-sm-8">{{ item.date|date('d/m/Y H:i') }}</dd>

                        <dt class="col-sm-4">Durée</dt>
                            <dd class="col-sm-8">{{ item.duree ? item.duree ~ ' min' : 'Non définie' }}</dd>


                        </dl>
                    <form method="post" action="{{ path('admin_test_delete', {'id': item.id}) }}"
                  onsubmit="return confirm('Supprimer cet élément ?')">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
                <button type="submit" class="btn btn-danger btn-sm">🗑️ Supprimer</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
